@{
    ViewData["Title"] = "Home Page";
}
<h3>Search for a Donut by ID (1-8):</h3>
<div>
    <form action="/Home/Search" method="post">
        <input type="number" name="id" id="id" min="1" max="8"/>
        <div>
            <button class="btn btn-primary">Go for Donut!</button>
        </div>        
    </form>
</div>

